:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --primary-color: #F8BC17;
    --outline-color: #353535;
}

/* Navbar */

@media (min-width: 320px) and (max-width: 991px) {
    #navbarSupportedContent {
        text-align: center;
        padding: 18px 0 2px;
    }

    .navbar .nav-link:hover {
        border-top: 1px solid #353535;
        border-bottom: 1px solid #353535;
        padding: 0 25px;
    }

    .navbar .nav-item:last-child .nav-link {
        padding: 0 25px;
        margin: 0 18px;
    }
}

/* Navbar */

/* Home Section */

@media (max-width: 991px) {
    #home {
        margin-top: 120px;
        margin-bottom: 78px;
    }

    #home .banner-img {
        margin-top: 50px;
    }

    #home .banner-social {
        p {
            margin-left: auto;
        }

        a:last-child {
            margin-right: auto;
        }
    }
}

@media (min-width: 320px) and (max-width: 620px) {
    #home .banner-text {
        h3 {
            font-size: 16px;

            img {
                width: 16px;
            }
        }

        h1 {
            font-size: 34px;
            margin-top: 8px;
            margin-bottom: 14px;
        }

        p {
            font-weight: 400;
            font-size: 15px;
            line-height: 190%;
            margin-bottom: 22px;
        }
    }

    #home .banner-btn {
        gap: 12px;
    }

    .btn {
        font-weight: 600;
        font-size: 10px;

        i {
            width: 12px;
            height: 12px;
            margin-left: 5.5px;
        }
    }

    .btn--primary {
        border-radius: 10px;
        padding: 8px 20px;
    }

    .btn--outline {
        border-radius: 10px;
        padding: 8px 7px;
    }

    #home .banner-social {
        margin-top: 46px;
        font-size: 16px;

        p {
            margin-bottom: 0;
            margin-right: 0;
        }

        a img {
            width: 32px;
        }
    }
}

/* Home Section */

/* About Section */

@media (max-width: 991px) {
    #about {
        margin-top: 80px;
        margin-bottom: 75px;
    }

    #about .Ellipse {
        top: 0;
        right: 0;
        transform: rotate(180deg);
    }

    #about .banner-text {
        padding-top: 43px;
        padding-bottom: 0;
    }

    #about .banner-img img {
        transform: scaleX(-1);
        margin-top: -50px;
        margin-left: auto;
    }
}

@media (min-width: 320px) and (max-width: 620px) {
    #about .Ellipse {
        width: 87px;
    }

    #about .banner-text {
        h1 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 24px;
            color: #353535;
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 171%;
            color: #4d4d4d;
            margin-top: 16px;
            margin-bottom: 16px;
        }
    }

    #about .banner-img {
        img {
            width: 315px;
        }
    }
}

/* About Section */

/* Idea Section */

@media (max-width: 991px) {
    #idea {
        margin-top: 75px;
        margin-bottom: 85px;
    }

    #idea .row {
        gap: 16px;
    }

    #idea .card {
        width: auto;
        flex-direction: row;
        gap: 16px;
        justify-content: center;
        align-items: flex-start;
    }

    #idea .card img {
        margin: 0;
    }

    #idea .card-body {
        text-align: justify;
    }

    #idea .card-body h4 {
        margin: 0 0 7px;
    }
}

@media (min-width: 320px) and (max-width: 620px) {
    #idea .card {
        width: calc(100% - 30px);
        padding: 26px 30px 39px 26px;
    }

    #idea .card img {
        width: 43px;
    }

    #idea .card-body h4 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 180%;
        color: #353535;
    }

    #idea .card-body p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 174%;
        color: #7a7a7a;
    }
}

/* Idea Section */

/* Branding Section */

@media (max-width: 991px) {
    #branding {
        margin: 85px auto;
    }

    #branding .row {
        margin: 0 auto;
    }

    #branding .Ellipse {
        right: 20px;
    }

    #branding .banner-img img {
        margin: 0 auto;
    }

    #branding .banner-text {
        padding: 27px 31px 0 40px;
    }
}

@media (min-width: 320px) and (max-width: 620px) {
    #branding .banner-text {
        h1 {
            font-family: var(--second-family);
            font-weight: 700;
            font-size: 24px;
            color: #353535;
        }

        p {
            font-family: var(--font-family);
            font-weight: 400;
            font-size: 14px;
            line-height: 180%;
            color: #353535;
            margin: 17px 0 23px;
        }
    }
}

/* Branding Section */

/* Help Section */

@media (max-width: 991px) {
    #help {
        margin: 76px auto 96px;
    }

    #help .row {
        justify-content: flex-start;
        gap: 38px;
    }

    #help .box {
        gap: 23px;
    }

    #help .sub-box {
        gap: 17px;
        text-align: center;
        flex-direction: column;
    }

    #help .col-lg-6 {
        text-align: left;
        margin-left: 0;
        margin-right: auto;
    }

    #help .count {
        gap: 26px;
        display: flex !important;

        .project {
            margin-left: auto;
        }

        .client {
            margin-right: auto;
        }
    }
}

@media (min-width: 320px) and (max-width: 620px) {
    #help .sub-box {
        padding: 16px 18px;

        img {
            width: 50px;
        }

        h4 {
            font-size: 15px;
        }

        p {
            font-size: 12px;
        }
    }

    #help .heading {
        h1 {
            font-size: 24px;
        }

        p {
            font-size: 15px;
            line-height: 180%;
            margin: 24px 0;
        }
    }

    #help .count {
        h3 {
            font-size: 24px;
        }

        p {
            font-size: 10px;
        }
    }
}

/* Help Section */