@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Potta+One&display=swap');

:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "PT Sans", sans-serif;
    --third-family: "Potta One", sans-serif;
    --primary-color: #F8BC17;
    --outline-color: #353535;
    --bg-color: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    a {
        text-decoration: none;
    }

    ul,
    ol {
        list-style: none;
    }

    body::-webkit-scrollbar {
        display: none;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
span {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family);
}

/* Common CSS */

.btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    text-align: center;

    i {
        width: 22px;
        height: 22px;
        display: inline-block;
        margin-left: 11px;
    }
}

.btn--primary {
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 15px 45px;
}

.btn--primary:hover {
    background-color: none;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

.btn--outline {
    border-radius: 20px;
    border: 1px solid var(--outline-color);
    color: var(--outline-color);
    padding: 15px 18px;
}

.btn--outline:hover {
    background-color: var(--outline-color);
    border: none;
    color: #fff;
}

.bg-none {
    background: none !important;
}

/* Common CSS */

/* Navbar */

.navbar {
    padding: 16px 0;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(25px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: 0.5s ease-in-out;
}

.navbar .nav-link {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
    text-transform: uppercase;
    padding: 0 30px;
    margin: 0 18px;
}

.navbar .nav-link:hover {
    border-bottom: 1px solid #353535;
    padding: 0 25px;
}

.navbar .nav-item:last-child .nav-link {
    padding-right: 0;
    margin-right: 0;
}

.navbar .nav-item:last-child .nav-link:hover {
    padding-right: 25px;
}

.navbar button,
.navbar button:focus {
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}

/* Navbar */

/* Home Section */

#home {
    margin-top: 140px;
    margin-bottom: 155px;
}

#home .banner-text {
    h3 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 24px;
        color: #353535;
    }

    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 64px;
        color: #353535;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 180%;
        color: #353535;
        margin-bottom: 43px;
    }
}

#home .banner-btn {
    display: inline-flex;
    align-items: center;
    gap: 38px;
}

.banner-social {
    gap: 16px;
    margin-top: 63px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: #353535;

    p {
        margin-bottom: 0;
        margin-right: 16px;
    }
}

/* Home Section */

/* About Section */

#about {
    background: var(--bg-color);
    margin-top: 155px;
    margin-bottom: 150px;
}

#about .Ellipse {
    bottom: 0;
    right: 0;
}

#about .banner-text {
    padding-top: 68px;
    padding-bottom: 86px;

    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 190%;
        color: #353535;
        margin-top: 26px;
        margin-bottom: 62px;
    }
}

#about .banner-img {
    display: flex;
    justify-content: end;

    img {
        margin-right: auto;
    }
}

/* About Section */

/* Idea */

#idea {
    margin: 150px auto;
}

#service .col-lg-4,
#idea .col-lg-4 {
    padding: 0;
}

/* card */

.card {
    width: 350px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    border: none;
    border-radius: 20px;
    padding: 39px 47px 57px;
}

.card:hover {
    background: var(--bg-color);
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    transform: scale(1.2);
    z-index: 1;
}

.card img {
    width: 78px;
    margin: auto;
}

.card-body {
    padding: 0;
    text-align: center;
}

.card-body h4 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    color: #353535;
    margin: 18px 0 14px;
}

.card-body p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    color: #7a7a7a;
}

/* card */

/* Idea */

/* Branding Section */

#branding {
    margin: 150px auto;
}

#branding .row {
    background: var(--bg-color);
    border-radius: 30px;
}

#branding .Ellipse {
    width: 78px;
    top: -25px;
    right: 35px;
}

#branding .banner-img {
    display: flex;
    justify-content: end;

    img {
        margin-right: auto;
    }
}

#branding .banner-text {
    padding: 82px 50px 93px 0;

    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 44px;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 190%;
        color: #353535;
        margin: 21px 0 35px;
    }
}

/* Branding Section */

/* Help Section */

#help {
    margin: 146px auto;
}

#help .row {
    align-items: center;
    justify-content: center;
}

#help .box {
    flex-direction: column;
    gap: 24px;
}

#help .sub-box {
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    padding: 18px 20px;
    flex-direction: row;
    gap: 18px;

    h4 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 180%;
        color: #353535;
    }
}

#help .col-lg-6 {
    text-align: right;
    margin-left: auto;
}

#help .heading {
    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 190%;
        color: #353535;
        margin: 26px 0 32px;
    }
}

#help .count {
    text-align: center;
    gap: 109px;

    h3 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 40px;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 180%;
        color: #353535;
    }
}

/* Help Section */

/* Experience Section */

#experience {
    margin: 146px auto;
    background: #fbfbfb;
    padding-top: 64px;
    padding-bottom: 64px;
}

#experience h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    color: #353535;
    margin-bottom: 79px;
}

#experience h3 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}

#experience p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
    text-align: justify;
}

#experience .duration {
    border-right: 2px dashed #7a7a7a;
    padding: 0 0 99px;
    position: relative;
}

#experience .duration::before {
    content: '';
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 2px dashed #7a7a7a;
    display: block;
    position: absolute;
    top: -21px;
    right: -21px;
    background-color: white;
}

#experience .duration::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 50%;
}

#experience .duration.green::after {
    background-color: #52AB70;
}

#experience .duration.red::after {
    background-color: #F17676;
}

#experience .duration.yellow::after {
    background-color: #FFD233;
}

/* Experience Section */

/* Expert Section */

#expert {
    margin: 146px auto;
}

#expert .col-lg-7 {
    text-align: justify;

    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #7a7a7a;
    }

    .p1 {
        margin: 49px 0 14px;
    }

    .p2 {
        margin: 14px 0 49px;
    }

    a {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 180%;
    }
}

#expert .button {
    display: flex;
    gap: 24px;
}

#expert .btn1 {
    padding-left: 46px;
    padding-right: 46px;
    margin-left: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
}

#expert .btn2 {
    border: none;
    margin-right: auto;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
}

.skill .topic {
    width: max-content;
    margin: 42px auto;

    h5 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 180%;
        margin-bottom: 11px;
    }

    span {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
    }
}

.skill .percent {
    width: max-content;
    position: relative;

    span {
        position: absolute;
        top: -44px;
    }
}

.skill .percent::before {
    content: '';
    background: #d9d9d9;
    border-radius: 50px;
    width: 380px;
    height: 6px;
    display: block;
    position: relative;
}

.skill .percent::after {
    content: '';
    border-radius: 50px;
    height: 6px;
    display: block;
    position: absolute;
    top: 0;
}

.skill .figma {
    color: #f16500;

    span {
        left: 305px;
    }

    .percent::after {
        background-color: #f16500;
        width: 342px;
    }
}

.skill .ps {
    color: #03249B;

    span {
        left: 278px;
    }

    .percent::after {
        background-color: #03249B;
        width: 315px;
    }
}

.skill .xd {
    color: #700D60;

    span {
        left: 293px;
    }

    .percent::after {
        background-color: #700D60;
        width: 330px;
    }
}

.skill .ai {
    color: #234BDA;

    span {
        left: 243px;
    }

    .percent::after {
        background-color: #234BDA;
        width: 280px;
    }
}

/* Expert Section */

/* Service Section */

#service {
    margin: 146px auto 0;
    background: #fff7d5;
    padding: 71px 0 104px;
}

#service .heading {
    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        text-align: center;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #7a7a7a;
        margin: 14px auto 73px;
        white-space: pre;
    }
}

/* Service Section */

/* Feedback Section */

#feedback {
    background: #fbfbfb;
    padding: 92px 0 58px;
}

#feedback .heading {
    h1 {
        font-family: var(--second-family);
        font-weight: 700;
        font-size: 50px;
        line-height: 135%;
        color: #353535;
    }

    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 18px;
        line-height: 180%;
        color: #7a7a7a;
        margin: 14px 0 63px;
        white-space: pre;
    }
}

#feedback .row {
    justify-content: space-between;
    align-items: center;
}

#feedback .col-lg-6 {
    p {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        line-height: 200%;
        color: #7a7a7a;
        margin-bottom: 24px;
    }

    h5 {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 24px;
        line-height: 200%;
        color: #353535;
    }

    h6 {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 16px;
        line-height: 200%;
        color: #7a7a7a;
    }
}

/* Feedback Section */

/* Blog Section */

#blog {
    margin: 96px auto 146px;
}

#blog h1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    text-align: right;
    color: #353535;
    margin-bottom: 100px;
}

#blog .row .col {
    padding: 0;
}

#blog .row .col:first-child,
#blog .row .col:nth-child(2) {
    padding: 0 0 20px 0;
}

#blog .row .col:last-child,
#blog .row .col:nth-child(3) {
    padding: 20px 0 0 0;
}

#blog .col .box {
    gap: 34px;
}

#blog .col:last-child .box img,
#blog .col:nth-child(2) .box img {
    margin-left: auto;
}

#blog .box-body {
    #date {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        line-height: 190%;
        color: #7a7a7a;
        margin-right: auto;
    }

    #name {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 14px;
        line-height: 190%;
        color: #353535;
        margin-left: auto;
    }

    h4 {
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 18px;
        line-height: 190%;
        color: #353535;
        margin: 14px 0;
    }

    a {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 18px;
        line-height: 190%;
        color: #353535;
    }
}

/* Blog Section */

/* Subs Section */

#subscribe {
    margin: 150px auto;
}

#subscribe .row {
    background: var(--bg-color);
    border-radius: 30px;
    padding: 84px 64px;
    margin: 0 auto;
}

#subscribe .row {
    justify-content: space-between;
    align-items: center;
}

#subscribe h2 {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    color: #353535;
}

#subscribe h3 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #353535;
}

#subscribe input {
    width: 100%;
    padding: 23px 0 23px 37px;
    border-radius: 16px;
    background: #fff;
    outline: none;
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: #7a7a7a;
    text-align: left;
}

#subscribe input::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 200%;
    color: #7a7a7a;
    text-align: left;
}

#subscribe label {
    top: 0;
    right: 0;

    button {
        background: #ff6565;
        border-radius: 0 16px 16px 0;
        outline: none;
        border: none;
        font-family: var(--font-family);
        font-weight: 600;
        font-size: 14px;
        line-height: 200%;
        color: #fff;
        padding: 23px 25px;
    }
}

/* Subs Section */

/* Footer */

footer {
    background: #575757;
    padding-top: 70px;
    padding-bottom: 80px;
}

footer h1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: #fff;
}

footer .row:first-child p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
    margin-top: 14px;
}

footer h5 {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
    text-transform: uppercase;

    span {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 20px;
        line-height: 180%;
        color: #fff;
        text-transform: lowercase;
    }
}

footer .row:last-child {
    margin-top: 90px;
}

footer .row:last-child p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #fff;
}

/* Footer */

/* Footer SVG */

footer svg:first-child {
    top: 35%;
    left: 2%;
}

footer svg:nth-child(2) {
    top: 63%;
    left: -10px;
}

footer svg:nth-child(3) {
    top: 35%;
    right: 2%;
}

/* Footer SVG */